html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 120px;
}

.jumbotron-custom {
    background-image: url("../images/vita-vilcina-3054-unsplash.jpg");
    /* Photo by Vita Vilcina on Unsplash */
    background-size: cover;
    background-position: center center;
    border-radius: 6px;
    margin: 20px 0px 20px 0px;
    font-family: 'Righteous', cursive;
    color: #fdfefe;
    text-shadow: 2px 2px #000000;
}

.display-4,
.lead {
    color: #fdfefe;
    font-family: 'Righteous', cursive;
    text-shadow: 2px 2px #000000;
    border-top: 0px;
}

.lead {
    background-color: rgba(253, 254, 254, 0.3)
}

.stock-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
}

.wiki-info {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select .dropdown-menu li:focus,
.bootstrap-select .dropdown-menu li a:focus {
    outline: 5px auto #343a40 !important;
}

.form-control:focus {
    border-color: #343a40;
    box-shadow: 0 0 0 0.2rem #343a40;
    opacity: .65;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #343a40;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 36px;
    /* Vertically center the text there */
    font-size: 12px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #222;
}

#footer {
    margin-top: 1.125rem;
    line-height: .75rem;
}